.sidebar-menu {
  position: fixed;
  top: 0;
  left: -170px; /* Ẩn ban đầu */
  width: 170px;
  height: 100vh;
  background: #085eb8;
  transition: left 0.25s;
  z-index: 9999;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", Arial, sans-serif;
  color: #fff;
}

.sidebar-menu.open {
  left: 0;
}

.sidebar-top {
  padding: 14px 18px 8px 18px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #1062b3;
  letter-spacing: 1px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  transition: background 0.2s, color 0.2s;
  text-decoration: none;
  color: #fff;
}

.sidebar-item:hover {
  background: #1062b3;
  color: #ffe082;
}

.sidebar-item.active {
  border: 2px solid #be70f7;
  background: #1062b3;
}

.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.07);
  z-index: 9998;
}
